<% provide(:title, 'Reset password') %>
<div class="col s12 z-depth-4 card-panel">
      <%= form_for(@user, url: password_reset_path(params[:id]), class:"login-form") do |f| %>
        <%= hidden_field_tag :email, @user.email %>
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Reset Password</h4>
            <p class="center">You can reset your password</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <%= f.password_field :password, id: 'password' %>
            <%= f.label :password, for:"password" %>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <%= f.password_field :password_confirmation, id: 'password_confirmation' %>
            <%= f.label :password_confirmation, for:"password_confirmation" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= render 'shared/error_messages', object: f.object %>
            <button type="submit" class="btn waves-effect waves-light col s12">Update password</button>
          </div>
          <div class="input-field col s12">
            <p class="margin sign-up"><%= link_to "Login", login_path %> <%= link_to "Register", signup_path, class:"right" %></p>
          </div>
        </div>
      <% end %>
    </div>
