<% provide(:title, "Forgot password") %>
<div class="col s12 z-depth-4 card-panel">
      <%= form_for(:password_reset, url: password_forgot_path, class:"login-form") do |f| %>
        <div class="row">
          <div class="input-field col s12 center">
            <h4>Forgot Password</h4>
            <p class="center">You can send email to reset your password</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <%= f.email_field :email, id: 'email' %>
            <%= f.label :email, for:"email", class:"center-align" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <button type="submit" class="btn waves-effect waves-light col s12">Reset Password</button>
          </div>
          <div class="input-field col s12">
            <p class="margin sign-up"><%= link_to "Login", login_path %> <%= link_to "Register", signup_path, class:"right" %></p>
          </div>
        </div>
      <% end %>
    </div>
