<!--StaticPage-->
<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li class="active">Users</li>
						</ol>
					</div>
					<div class="section-body">
						<div class="card">

							<!-- BEGIN SEARCH HEADER -->
							<div class="card-head style-primary">
								<div class="tools pull-left">
									<form class="navbar-search" role="search">
										<div class="form-group">
											<input type="text" class="form-control" name="contactSearch" placeholder="Enter your keyword">
										</div>
										<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
									</form>
								</div>
							</div><!--end .card-head -->
							<!-- END SEARCH HEADER -->

							<!-- BEGIN SEARCH RESULTS -->
							<div class="card-body">
								<div class="row">

									<!-- BEGIN SEARCH NAV -->
									<div class="col-sm-4 col-md-3 col-lg-2">
										<ul class="nav nav-pills nav-stacked">
											<li><small>CATEGORIES</small></li>
											<li class="active"><a href="#">All users <small class="pull-right text-bold opacity-75"><%= @users.count %></small></a></li>
											<li class="hidden-xs"><small>Newest Member</small></li>
											<% for i in 0...5 %>
												<li class="hidden-xs">
													<%= link_to profile_path(@users[i]) do %>
  												  <img class="img-circle img-responsive pull-left width-1" src="<%= @users[i].image %>" alt="" />
  												  <span class="text-medium" ><%= @users[i].name %></span><br/>
  												  <span class="opacity-50">
  												  	<span class="glyphicon glyphicon-phone text-sm"></span> &nbsp;<%= @users[i].numberphone %>
  												  </span>
  								        <% end %>
											 </li>
											<% end %>
										</ul>
									</div><!--end .col -->
									<!-- END SEARCH NAV -->

									<div class="col-sm-8 col-md-9 col-lg-10">

										<!-- BEGIN SEARCH RESULTS LIST -->
										<div class="margin-bottom-xxl">
											<span class="text-light text-lg">Filtered results <strong><%= @users.count %></strong></span>
											<div class="btn-group btn-group-sm pull-right">
												<button type="button" class="btn btn-default-light dropdown-toggle" data-toggle="dropdown">
													<span class="glyphicon glyphicon-arrow-down"></span> Sort
												</button>
												<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu">
													<li><a href="#">First name</a></li>
													<li><a href="#">Last name</a></li>
													<li><a href="#">Email address</a></li>
												</ul>
											</div>
										</div><!--end .margin-bottom-xxl -->
										<div class="list-results">
											<% @users.each do |item| %>
											<div class="col-xs-12 col-lg-6 hbox-xs">
												<div class="hbox-column width-2">
													<img class="img-circle img-responsive pull-left" src="<%= item.image %>" alt="" />
												</div><!--end .hbox-column -->
												<div class="hbox-column v-top">
													<div class="clearfix">
														<div class="col-lg-12 margin-bottom-lg">
															<%= link_to 'Ann Laurens', profile_path(item), class:'text-lg text-medium' %>
														</div>
													</div>
													<div class="clearfix opacity-75">
														<div class="col-md-5">
															<span class="glyphicon glyphicon-phone text-sm"></span> &nbsp;<%= item.numberphone %>
														</div>
														<div class="col-md-7">
															<span class="glyphicon glyphicon-envelope text-sm"></span> &nbsp;<%= item.email %>
														</div>
													</div>
													<div class="clearfix">
														<div class="col-lg-12">
															<span class="opacity-75"><span class="glyphicon glyphicon-map-marker text-sm"></span> &nbsp;795 Folsom Ave, San Francisco, CA 94107</span>
														</div>
													</div>
													<div class="stick-top-right small-padding">
														<i class="fa fa-dot-circle-o fa-fw text-success" data-toggle="tooltip" data-placement="left" data-original-title="User online"></i>
													</div>
												</div><!--end .hbox-column -->
											</div><!--end .hbox-xs -->
											<% end %>

										</div><!--end .list-results -->

										<!-- BEGIN SEARCH RESULTS LIST -->

										<!-- BEGIN SEARCH RESULTS PAGING -->
										<div class="text-center">
											  <%= will_paginate @users %>
										</div><!--end .text-center -->

										<!-- BEGIN SEARCH RESULTS PAGING -->
									</div><!--end .col -->
								</div><!--end .row -->
							</div><!--end .card-body -->
							<!-- END SEARCH RESULTS -->

						</div><!--end .card -->
					</div><!--end .section-body -->
				</section>
