<!--StaticPage-->
<section>
					<div class="section-header">
						<ol class="breadcrumb">
							<li class="active">Books</li>
						</ol>
					</div>
					<div class="section-body">
						<div class="row">
							<div class="col-lg-12">

								<!-- BEGIN BLOG MASONRY -->
								<div class="card card-type-blog-masonry style-default-bright">
									<div class="row">
									<% @books.each do |item| %>
										<div class="col-md-3">
											<article>
												<div class="blog-image">
													<%= link_to detail_book_path(item) do %>
														<img src="<%= item.image %>" />
													<% end %>

												</div>
												<div class="card-body blog-text">
													<div class="opacity-50">Posted on <%= item.created_at.to_date %> - Author: <%= item.author %> -
														No. Page: <%= item.numberpage %> |
														<a href="#"><%= item.reviews %> reviews <i class="fa fa-eye"></i></a>
														<div class="rating">
															<a href="javascript:void(0);"><i class="fa fa-star"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-star"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-star"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-star-half-o"></i></a>
															<a href="javascript:void(0);"><i class="fa fa-star-o"></i></a>
														</div>
													</div>
													<h4>
                            <%= link_to item.title, detail_book_path(item), class:'link-default' %>
                          </h4>
													<p><%= item.description.html_safe %></p>
												</div>
											</article><!-- end /article -->
										</div><!--end .col -->
									<% end %>
									</div><!--end .row -->
								</div><!--end .card -->
								<!-- END BLOG MASONRY -->

							</div><!--end .col -->
						</div><!--end .row -->

						<!-- BEGIN PAGINATION -->
						<div class="row">
							<div class="col-lg-12 text-center">
								<%= will_paginate %>
							</div><!--end .col -->
						</div><!--end .row -->
						<!-- END PAGINATION -->

					</div><!--end .section-body -->
				</section>
