<html lang="en">
	<head>
		<title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
	</head>
	<body class="menubar-hoverable header-fixed  ">
		<input type="hidden" id="currentUser" value="<%= current_user.id %>" />
		<audio id="soundNotify">
		  <source src="/audios/iphonenotify.mp3" type="audio/mpeg">
		</audio>
		<!--StaticPage-->
		<!-- BEGIN HEADER-->
		<%= render 'layouts/header' %>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content">
				<section class="style-default-bright">
					<div class="section-body">
						<%= yield %>
				</section>
			</div><!--end #content-->
			<!-- END CONTENT -->

			<!-- BEGIN MENUBAR-->
			<%= render 'layouts/menubar' %>
			<!-- END MENUBAR -->

			<!-- BEGIN OFFCANVAS RIGHT -->
			<%= render 'layouts/rightpanel' %>
			<!-- END OFFCANVAS RIGHT -->

		</div><!--end #base-->
		<!-- END BASE -->

		<script>
      $(document).ready(function(){
        alert('1');
      });
    </script>

	</body>
</html>
